.query-input {
  $p: &;
  display: flex;
  padding: 0 16px;
  .ant-btn {
    margin-right: 8px;
  }
  h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 12px;
  }
  width: 100%;
  &__new-query {
    width: 100%;
    transition: all 0.3s ease-out;
    label {
      display: none !important;
    }
  }
  &__saved-querries {
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.3s ease-out;
    display: flex;

    .ant-divider {
      height: 100%;
    }
  }
  &__saved-querries-inner {
    flex-grow: 1;
  }
  &--is-empty {
    #{$p}__new-query {
      width: 50%;
    }
    #{$p}__saved-querries {
      width: 50%;
      opacity: 1;
      height: unset;
    }
  }
  .saved {
    .ant-list {
      max-height: 250px;
      overflow: auto;
    }
  }
}
